# My Jupyter Notebook on IBM watsonx.ai

**Dino Wilfred de Gracia**

Data Analyst

*I’m interested in data science because it allows me to uncover meaningful insights from complex data, turning patterns into actionable knowledge that can drive smarter decisions. I enjoy the blend of problem-solving, statistical thinking, and technology that makes data science both creative and impactful.*

### Below is a simple Python code to print "Hello, World!

In [6]:
print('Hello, World!')

Hello, World!

**Markdown samples**

Bulleted List (Unordered List)
- Item 1  
- Item 2  
  - Sub-item 2.1  
  - Sub-item 2.2  
- Item 3

Numbered List
1. First item  
2. Second item  
3. Third item  
   1. Sub-item 3.1  
   2. Sub-item 3.2

Table
| Name     | Age | City       |
|----------|-----|------------|
| Alice    | 25  | New York   |
| Bob      | 30  | London     |
| Charlie  | 28  | San Diego  |

Hyperlink
[OpenAI](https://www.openai.com)

Image
![Alt Text](https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg)